@import "tailwindcss";

:root {
  --background: #050508;
  --foreground: #ededed;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-marquee: marquee 15s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-33.333%);
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jetbrains), monospace;
}